# Ignore Python virtualenv
env/

# Ignore PyInstaller build artifacts
build/
dist/

# Ignore caches and specs
__pycache__/
*.spec

# Ignore installers
*.exe
*.msi

# Ignore compiled Python files
*.py[cod]

# macOS metadata
.DS_Store
env/
dist/
build/
__pycache__/
*.spec
